/* Café #5a2b1b
   Rojo #eb252d
   Amarillo #fde024
   Verde #4aaf45 */



.reservas{
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    background-color: #5a2b1b;
    color: #ffffff;
    padding: 5px 5px 5px ;
    
}

#nav_link{
    font-family: 'Architects Daughter', cursive;
    font-size: 150%;
    background-color:#eb252d;
    padding: 10px 25px 10px;
    
}


