/* Café #5a2b1b
   Rojo #eb252d
   Amarillo #fde024
   Verde #4aaf45 */



.reservas{
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 5px 5px ;
    
}

#nav_link{
    font-family: 'Texturina', serif;
    font-size: 150%;
    background-color:#eb252d;
    padding: 10px 25px 10px;
    
}

/* Slayer*/

.alto-img{
     height: 600px !important;
    
}

/*Carta*/

.grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    
}

.grupo-1{
    background-image: url(/img/Fondo\ carta.png);
}
.grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-1 .box figure img{
    width: 600px;
}

.grupo-1 .box h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 80px;
    font-family: 'Texturina', serif;
    text-align: center;

}

.grupo-1 .box p{
    color: #4aaf45;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Texturina', serif;
    font-size: 80px;
}

.grupo-1 .box a{
    border-radius: 10px;
    padding: 15px 20px;
    text-decoration: none;
    align-items: center;
  
}

.carta-btn{
    margin-left: 250px;
    margin-top: 50px;
}



/* Slider Videos */

#carouselExampleSlidesOnly{
    padding: 10px;
}





/* Formulario */
#Contacto{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    /*margin: 15px auto;
     background-color: #72d2ec;
     background-image: url(/img/FondoContacto.png);*/
     background-size: cover;
     background-color: #4aaf45;
     padding: 30px;
}

#nombre{
    
    margin-top: 50px;
    margin-left: 100px;
}



  


 /*  Footer */

#page-footer{
    background-color: var(--Encabezado);
}

#page-footer a{
    color: var(--Enlace);
}

#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding-top: 40px 0;
    flex-wrap: nowrap;
}

.footer__menu{
    max-width: 300px;
    grid-column: 1/3;
    grid-row-start: 1;
    padding-left: 1em;

}
.footer__menu figure{
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.footer__logo{
    width: 150px;
}

#page-footer .ftcontainer{
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 0;
}

.ft-social{
    color: #ffffff;
    border-radius: 50%;
    height: auto;
    width: 40px;
    display: inline-block;
    font-size: 14px;
    line-height: inherit;
    
}

.ft-link{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.footer__link{
    text-decoration: none;
}

.footer__title{
    color: #000000;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.footer__info{
    color:#000000;
    line-height: 15px;
    font-size: 1.0rem;
}
/*
.footer__link:nth-last-child(1){
    border-left: 2px solid #0f649d;
}

.footer__link:nth-last-child(2){
    border-left: 2px solid #0f649d;
}

.footer__link:nth-last-child(3){
    border-left: 2px solid #0f649d;
}
*/
.footer-credits{
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #3498DB;
}

/*Nosotros*/

.nuestra{
    font-family: 'Martian Mono', monospace;
    text-align: center;
    padding: 40px;

}

#card-card{
    font-family: 'Martian Mono', monospace;
}

/*Contactanos*/

.r-sociales{
    text-align: center;
    padding: 20px;
    font-family: 'Texturina', serif;
}

.r-sociales a{
    width: 200px;
    padding: 40px;
}

/* Slider Contactos



.carrusel3d{
    width: 800px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 50px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.carrusel3d input{
    display: none;
}

.carrusel3d img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border: 1px solid #000000;
    transition: 0.4s;
    cursor: pointer;
    user-select: none;

}

#radio1:checked ~ #imag1 img,
#radio2:checked ~ #imag2 img,
#radio3:checked ~ #imag3 img,
#radio4:checked ~ #imag4 img,
#radio5:checked ~ #imag5 img{
    transform: translate3d(0, 0, 150px);
}

#radio1:checked ~ #imag2 img,
#radio2:checked ~ #imag3 img,
#radio3:checked ~ #imag4 img,
#radio4:checked ~ #imag5 img,
#radio5:checked ~ #imag1 img{
    transform: translate3d(35px, 0, 100px);
}

#radio1:checked ~ #imag3 img,
#radio2:checked ~ #imag4 img,
#radio3:checked ~ #imag5 img,
#radio4:checked ~ #imag1 img,
#radio5:checked ~ #imag2 img{
    transform: translate3d(70px, 0, 0px);
}

#radio1:checked ~ #imag4 img,
#radio2:checked ~ #imag5 img,
#radio3:checked ~ #imag1 img,
#radio4:checked ~ #imag2 img,
#radio5:checked ~ #imag3 img{
    transform: translate3d(-70px, 0, 0px);
}

#radio1:checked ~ #imag5 img,
#radio2:checked ~ #imag1 img,
#radio3:checked ~ #imag2 img,
#radio4:checked ~ #imag3 img,
#radio5:checked ~ #imag4 img{
    transform: translate3d(-35px, 0, 100px);
}*/

*{
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  



/* Formulario de Contactos */


#ContactoS{
   width: 100%;
   text-align: center;
   margin: 0 auto;
   background-color: #4aaf45;
   padding: 30px;
}

#ContactoS h2, label{
   color: #000000;
   width: 100%;
}

#ContactoS input, textarea{
   width: 600px;
   border-radius: 10px;
   padding: 10px 5px;
}

